<html>

<head>
    <title>Devopslution - @ViewBag.Title</title>
    <script src="~/js/main.js"></script>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    @RenderBody()
</body>

</html>