.page_content
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .content
    {
        width: 80%;  
        @include media('sm')
        {
            width: 98%
        }      
    }
}
